@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
	margin: 0;
	width: 100%;
	background-image: url("space.jpg");
}
.welcome{
	color: white;
	font-size: 20px;
	margin-left: 5%;
	font-family: 'Montserrat', sans-serif;
}

.logo{
	width: 100%;
	margin-left: 2%;
	margin-top: 3%;
	margin-bottom: 3%;
}
.menu{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 2%;
}

.footer{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 2%;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 1%;
}
a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 22px;
}
a:hover{
	text-decoration:underline;
}

h2{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin-bottom: 5px;
}

article{
    background: rgba(255, 255, 255, 0.44);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
	border: 1px solid black;
    text-align: center;
    margin-bottom: 3%;
	padding: 2%;
	color: black;
}

article{
	margin-bottom: 10%;
}


main{
    margin: auto;
    width: 92%;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

canvas{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 500px){
	a{
		font-size: 22px;
	}
	h2{
		font-size: 35px;
	}
}
@media only screen and (min-width: 730px){
	html{
		height: 100%;
	}
	main{
        flex-wrap: wrap;
        flex-direction: row;
    }
	article{
		width: 40%;
	}
	.speed{
		margin-top: 3%;
	}
	.menu{
		display: none;
	}
	.welcome{
	font-size: 22px;
	}

}
@media only screen and (min-width: 1024px){
	a{
		font-size: 30px;
	}
	.logo{
	width: 50%;
	margin-left: 2%;
	}
	.welcome{
	font-size: 24px;
	}

}
@media only screen and (min-width: 1500px){
	article{
		width: 25%;
		margin-left: 1%;
	}
	.content{
		width: 70%;
	}
	main{
	flex-wrap: nowrap!important;
	}
	.logo{
	width: 20%;
	margin-left: 2%;
	}
	.welcome{
	font-size: 30px;
	}
	a{
	font-size: 27px;
	}
	
}